# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/


models:
  my_new_project:
    # Applies to all files under models/staging/
    staging:
        materialized: table
    # Applies to all files under models/prep/
    prep:
        materialized: table
    # Applies to all files under models/mart/
    mart:
        materialized: table

        